[2017-12-29 20:55] Lsquared13 opened #1 "Replacing quorum node loses private transaction data"
A replacement quorum node that has received a private transaction before being replaced will no longer be able to see the private value.

**Steps to Reproduce**

1. Run through the setup, including the private transaction test
2. Terminate the recipient node
3. Run `terraform apply` to replace the instance
4. Re-run the recipient portion of the private transaction test
5. In the geth console type

[2017-12-29 21:36] Lsquared13 commented on #1
We'll probably want to use a FUSE adapter to back up the storage directory to s3.  Something like [s3fs-fuse](https://github.com/s3fs-fuse/s3fs-fuse).

See [discussion of storage](https://github.com/jpmorganchase/constellation/issues/37) on constellation repository

[2018-01-03 18:08] #1 closed, assigned to Lsquared13

[2018-01-04 18:10] Lsquared13 opened #2 "Multi-Region Network"
Before we can do any real stress testing, we need to be able to launch a network across multiple regions.  Initial plan is to attack this in two phases:

# Initial Task Breakdown

## Make Cluster Multi-Region Ready
- [x] Put the vault cluster behind an ELB
- [x] Vault certificates appropriately handle being behind an ELB
- [x] Quorum nodes communicate with vault via the ELB
- [x] Quorum nodes comm

[2018-01-04 21:29] Lsquared13 opened #3 "AMIs for Terraform Module Usage"
# Problem
Currently, we assume users have filled in their AMI terraform variables with AMIs built using our packer templates.  This is not ideal for use as a module, as it requires the user to run packer builds in their own AWS account first, making the module not as self-contained as it could be.

# Proposed Solution
Ideally I think we would maintain a set of publicly available AMIs built with th

[2018-01-05 20:37] Lsquared13 commented on #3
We can probably use [the owners attribute](https://www.terraform.io/docs/providers/aws/d/ami.html#owners) on the [aws_ami data source](https://www.terraform.io/docs/providers/aws/d/ami.html) for this. We should be able to conditionally set this to either an Eximchain account or "self" and then find the AMIs.

This would make the whole `copy-packer-artifacts-to-terraform.py` thing obsolete as well.

[2018-01-10 18:34] Lsquared13 commented on #2
It's occurring to me that the tricky part is going to be maintaining a global indexing while spreading them across regions. I don't want the math in terraform to get too ugly if we can avoid it. Maybe some built in functions will provide answers. In any case, I'm not 100% sure that mapping counts per region is the solution there.  I'll have to look into it more when I get to that point.

[2018-01-11 20:47] Lsquared13 opened #4 "Handle vault certificate private key securely"
# Problem

The handling of vault certificates for TLS is currently insecure in the following ways:

- The certificates including the private key are currently stored in an encrypted S3 bucket. However, it is only encrypted server-side and the private key is fetched via HTTP, unencrypted, without TLS.
- We use a terraform module based cert-tool as part of our workflow to generate the private certif

[2018-01-18 18:46] Lsquared13 opened #5 "Bootnodes should be replaceable"
# Problem

When specifying bootnodes, quorum nodes use an enode address which includes the IP address of the bootnode. If a bootnode crashes and is replaced, the IP address will change, and an already active node will have no way of updating their bootnodes.

# Potential Solutions

- Dynamically update the nodes' list of bootnodes
- Use an Elastic IP for bootnodes (The problem here is that account

[2018-01-29 21:46] Lsquared13 opened #6 "Get AZs from Data Source instead of variable"
Eliminates source of user error

[2018-01-29 21:50] Lsquared13 opened #7 "Don't create any infrastructure in unused regions"
It's looking like the initial implementation of a multi-region network will create a lot of supporting infrastructure even in regions that aren't used. Ideally it all should be created conditionally on any instances being placed in that region.

[2018-01-30 21:18] #2 closed, assigned to Lsquared13

[2018-01-31 16:22] #7 closed, assigned to Lsquared13

[2018-02-02 20:42] #6 closed, assigned to Lsquared13

[2018-02-08 21:54] Lsquared13 opened #8 "init-quorum fails when there are no observers"
# Problem
The init-quorum.sh script fails when there are no observers due to unbound variable `OBSERVERS[@]`

The command line args that generate the quorum config should gracefully handle the case where a role is empty.

[2018-02-17 00:59] Lsquared13 opened #9 "Sporadic process crash metrics emitted"
# Problem

During quorum stress tests, we noticed that sometimes a sporadic cloud watch metric indicating a process crash will be emitted, generally indicating a crash in both constellation and quorum. Upon inspection of the logs, no evidence of a crash can be found. The most likely scenario is that a bug of some sort is causing the event listener to emit a metric when the process has not crashed.

[2018-02-17 01:41] Lsquared13 opened #10 "Freshly applied terraform config still proposes changes"
# Problem

After running `terraform apply` to launch the a cluster, running `terraform apply` or `terraform plan` produces a plan that proposes the following changes:

[code]
# Expected Behavior

Running `terraform apply` or `terraform plan` after successfully applying the config should propose no changes. The tag change is ultimately harmless, but the user data change causes a relaunch of the vau

[2018-04-03 16:05] Lsquared13 opened #11 "Solidity Compilation Fails"
# Problem

The software we had been running  [depends on](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/provisioning-scripts/build-deps.sh#L4) the [ethereum ubuntu ppa](https://launchpad.net/~ethereum/+archive/ubuntu/ethereum). An upstream update to the solidity compiler `solc` has rendered us unable to send private transactions. We encounter the following error:

[c

[2018-04-03 20:59] #11 closed, assigned to Lsquared13

[2018-04-11 19:28] #3 closed, assigned to Lsquared13

[2018-05-02 17:16] Lsquared13 opened #12 "Rewrite cloudwatch-metrics.sh script in another language"
# Problem
While a shell script for emitting cloudwatch metrics was reasonable when it was limited to polling a single RPC call, it's quickly becoming messy and difficult to develop as I add more metrics and more complex logic

# Solution
Write a metrics agent in another language (probably Python, maybe Go) that simply uses a geth client and a cloudwatch client to do the same thing.

[2018-05-23 22:18] Lsquared13 opened #13 "Need Process to Update Software Safely"
# Problem
Currently, we update software by tearing down the network and launching a new one with new software. This works because the networks are not currently hosting data that they expect to be persistent. We currently have no way to update software reliably without replacing the network.

# Solution Reqirements
Before we can handle production networks, we need some mechanism to update software

[2018-05-24 00:07] Lsquared13 opened #14 "Geth passwords should not sit in plaintext in supervisor config"
# Problem
Currently, the passwords that encrypt the geth keys are passed to geth via the command line, and they are stored in plaintext in the supervisor config. This makes the password effectively useless at protecting the key.

# Ideal Solution
Geth could, instead of the plaintext password, be passed a location to retrieve the key from in vault. The password could be retrieved from vault by geth

[2018-06-11 22:36] Lsquared13 opened #15 "Option to run on dedicated instances"
# Problem
Running on standard EC2 instances runs a risk of introducing vulnerabilities that exploit the fact that the physical hardware is being shared with other virtual machines. [EC2 Dedicated Instances](https://aws.amazon.com/ec2/purchasing-options/dedicated-instances/) seem to solve this problem by running on physical hardware dedicated to a single customer for an additional cost. However, th

[2018-06-11 22:47] Lsquared13 opened #16 "Integrate Backup Procedure"
# Problem
We have written a backup script that can be used to back up chain data to s3 or restore from a previous backup, but it only runs on a completely manual basis.

# Solution
The backup needs to run at least periodically with a cron job or something similar. Ideally, we should also be able to run it in response to a cloudwatch alarm, although that does not block network launch.

We also need

[2018-06-11 23:24] john-osullivan commented on #14
Begun work on this in the following two fork repos, linked here for convenience:
- [john-osullivan/quorum-johno](https://github.com/john-osullivan/quorum-johno) - Accept new flags; API calls to retrieve keys; store found value in memory.
- [john-osullivan/terraform-aws-quorum-cluster-johno](https://github.com/john-osullivan/terraform-aws-quorum-cluster-johno) - Modifies the `init-quorum.sh` script

[2018-06-12 18:47] Lsquared13 commented on #15
Looks straightforward to add in the Terraform config

[2018-06-13 18:57] Lsquared13 commented on #15
Just remembered, definitely need vault servers on dedicated instances

[2018-06-14 01:04] #15 closed, assigned to Lsquared13

[2018-06-17 06:01] andreweximchain opened #17 "Test private transactions with the gasPrice activated version of quorum."

[2018-06-19 03:06] ExcChua commented on #5
Just suggesting something here. Instead of fixed IP,  the nodes could be using dynamic DNS, so that nodes register their DNS name with a dynamic DNS server, so even if they have different IPs, they could still be contacted by their DNS name. Would that help?

[2018-06-19 03:19] Lsquared13 commented on #5
Thanks for the input! Our original issue with that is that geth can't handle enode addresses involving DNS names. However, we talked about it today and @john-osullivan thinks it will be reasonable to extend geth to handle DNS bootnodes.

Dynamic DNS server might be something to think about, it sounds like it could be cheaper. John and I were just thinking of throwing an ELB in front of each bootno

[2018-06-19 04:07] ExcChua commented on #13
One idea I've formed is to send  a signal to each piece of software that needs upgrading, tell it to shutdown, then either

- replace it with the upgraded software. Replacing the older version directly with the newer version assumes that the upgraded software can work with and/or upgrade the data from the older version, or
- add the new software to another path, then upgrade the scripts that launc

[2018-06-19 09:05] john-osullivan commented on #5
For the sake of documentation, here's a thorough write-up of what I've learned about the problem and how to tackle it based on my conversations with Louis & Juan yesterday.  I'm still cleaning up on the [plaintext passwords](https://github.com/Eximchain/terraform-aws-quorum-cluster/issues/14) thing, but I think I've got a handle on this.

There seems to be one key unresolved question here: do runn

[2018-06-19 09:19] ExcChua commented on #5
How many bootnodes are there?
- Is there a mechanism to
  - tell other bootnodes a particular bootnode is going down?
  - tell all bootnodes a particular quorum node is going down?

Asking this because my software upgrade mechanism plans to bring down nodes in other to upgrade software and if a particular node is down, bootnodes shouldn't tell other nodes the downed node is available.

[2018-06-19 09:27] john-osullivan commented on #5
I believe there are 3 bootnodes for each of the 14 supported regions, so 42.

As far as I know, we don't have an easy way to detect when a node is going down.  The failure event might be sudden, so we might not be able to call some graceful exit procedure.

Louis' advice to me was focus on when nodes are being turned on, and then detecting whether they're new nodes or replacement ones.  We've alre

[2018-06-19 14:03] Lsquared13 commented on #5
@EximChua - You don't need to worry about bootnodes pointing to dead instances, they may have a best-effort shutdown, but in general, nodes can die without telling the bootnode. The technical basis for this was a public network, so it had to handle such things gracefully.

[2018-06-19 14:06] ExcChua commented on #5
@Lsquared13 Thanks for the clarification, Louis!

[2018-06-25 16:33] john-osullivan commented on #14
### Status Update
This issue is now in cleanup phase.

- [x] `quorum-johno` now successfully uses the `--vaultaddr`, `--vaultpasswordpath`, `--vaultprefix`, and `--vaultpasswordname` to retrieve the password value out of Vault.  Those args and their usage are documented further on the repository.  Behavior remains unchanged if those arguments are not all provided -- we either use the plaintext str

[2018-06-25 19:44] Lsquared13 commented on #13
@EximChua once you have determined the design you're going with (which you may or may not have already done) can you write up the details of your design?

Remember the program is run with [supervisord](http://supervisord.org/), so you will be able to leverage that for starting and stopping the software that needs updating.

[2018-06-27 15:32] john-osullivan commented on #5
## Update based on Yesterday's Conversation
The solution is starting to get clearer here.  We need to replace each of our 42 bootnode instance with a Load Balancer + AutoScaling Group.  The ASG will let us say, "Make sure there's always an instance here", without having to worry about actually replacing it ourselves.  The LB will give us a static IP address which is attached to the ASG, so all of

[2018-07-03 15:20] Lsquared13 opened #20 "Fix Medium Severity Threatstack Issues"
# Issue

We must upgrade the following software to versions without these vulnerabilities:

- binutils
- tcpdump
- unzip
- git
- bzip2
- systemd
- gnupg
- cron
- ed

[2018-07-03 15:42] Lsquared13 commented on #8
Honestly not important for us to fix for our purposes, but if anyone's looking to get their hands dirty in this repository it's probably a fairly simple fix.

[2018-07-03 15:47] Lsquared13 commented on #10
Might be a provider bug, and it's causing us more problems now.

We have a [terraform-aws-provider issue](https://github.com/terraform-providers/terraform-provider-aws/issues/5011) open about this

[2018-07-03 15:53] Lsquared13 commented on #16
We should also regionalize the backups ideally. That would save us money, but also add some complexity.

[2018-07-03 18:04] Lsquared13 opened #21 "Vault permissions should be more finely tuned"
# Problem

Currently, everything stored in the vault can be read by any quorum node. While this is intended for 'public' information like addresses, it is not ideal for 'private' information like passwords. Ideally, every node can only read its own private data.

The primary caveat is that all quorum nodes currently use the same IAM role.

# Acceptance Criteria

- A given quorum node can only read

[2018-07-03 18:51] Lsquared13 opened #22 "Integrate with EFS for storage"
# Problem

Our nodes need to store the entire blockchain in storage, and the chain grows over time. It would be extremely expensive to provision all the space we will need to run our network for as long as we expect to need to.

# Proposed Solution

We will need to start with a moderate amount of space (~250 GB) and have a plan in place to upgrade our storage space when it runs short, without taki

[2018-07-03 18:54] Lsquared13 commented on #14
Complete with PR #19

[2018-07-03 18:54] #14 closed, assigned to john-osullivan

[2018-07-03 19:50] john-osullivan commented on #21
[Current Policy](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/vault-policies/quorum-node.hcl) gives everyone access everywhere.  Afterwards:
- `addresses`, `makers`, `validators`, `observers`, `bootnodes/addresses` should be `read` access for all nodes.  `write` access for the owners.
  - [`broadcast_role_info`](https://github.com/Eximchain/terraform-aws-quorum-clus

[2018-07-03 22:31] Lsquared13 opened #23 "Validate Blocks by Region"
# Issue

Since we have a DynamoDB table with the blocks mined per region, we should check that the proportion of blocks created by region is roughly proportional to the number of makers in each region.

[2018-07-05 15:30] Lsquared13 opened #24 "Flesh Out Resource Tagging"
# Problem

The tags for our instances are currently very specific. We should add some tags to aggregate instances across dimensions we care about.

# Solution

Add tags to aggregate across:

- An entire network
- Each role within a network
- Update group (once we have a concept of that)

[2018-07-05 17:48] john-osullivan commented on #5
That PR got merged in on Tuesday, resolving this issue is now my top priority.  Working on it in the [lb-asg-bootnodes](https://github.com/john-osullivan/terraform-aws-quorum-cluster-johno/tree/lb-asg-bootnodes) branch of my fork.

[2018-07-05 17:53] john-osullivan commented on #21
This is my second priority after the bootnode replacement issue, but I'll be working on it when things are building over there.  Work on this issue will be going on the [narrow-vault-policies](https://github.com/john-osullivan/terraform-aws-quorum-cluster-johno/tree/narrow-vault-policies) branch of my fork.

[2018-07-05 21:17] Lsquared13 opened #25 "Reduce Threatstack alerts to manageable levels"
# Problem

There is currently a lot of noise in the threatstack alerts. With this level of noise, we are at risk of missing important alerts.

# Solution

We need to reduce the false positive level by adding appropriate suppressions and making changes to this repository as necessary

[2018-07-10 00:40] Lsquared13 commented on #20
systemd build has been removed for now. There's a DNS issue that needs to be figured out

[2018-07-10 02:54] ExcChua commented on #5
John, if the IP is that of the LB and not the instance, my upgrader would have trouble upgrading the software. Would you be able to provide the IP, or DNS name for the instance?

[2018-07-10 03:03] john-osullivan commented on #5
Glad you pointed the issue out! The question is when & how you want to
retrieve the instance's IP. The instance will eventually be replaced over
time by the autoscaling group, so we need the LB to give us a static IP.

I don't know exactly how, but we might get the IP of the currently
available instance by calling the AWS API from your updater at runtime.

How does this load balancer break the upd

[2018-07-10 08:18] ExcChua commented on #5
The upgrader uses either IP address or DNS to locate & update the software on the machines.

It uses SSH to connect to the target machines, and then *nix Shell Copy (scp) to transfer files.

If there's a LB behind 2 or more nodes, then the upgrader can only update the node the LB is redirecting to. The other nodes wouldn't be updated until the LB redirects to them.

[2018-07-10 13:45] Lsquared13 commented on #5
I'm not actually convinced there's a problem here. Is there a reason we can't use the LB DNS/IP within the network for making connections and the direct DNS privately for doing updates?

[2018-07-10 13:59] Lsquared13 commented on #5
Also @john-osullivan can we just have terraform + user-data fill the Load Balancer IP or DNS into a data file? I don't think that would force a circular dependency...

[2018-07-10 15:24] john-osullivan commented on #5
@Lsquared13 Yup, I'm getting the load balancer's DNS by writing it to a data file.  The DNS is available as an attribute of `aws_lb`, but the IP isn't -- that's why I'm writing an additional script to resolve the DNS to an IP in `init-bootnode.sh`.

Also, @EximChua , we might be alright here because we're designing the system such that each load balancer gets its own node.  Every bootnode will get

[2018-07-10 16:07] Lsquared13 commented on #5
I'm totally okay with guaranteeing that we have at most one machine per load balancer.

@john-osullivan I'm wondering if maybe there's an AWS CLI call you can make that will get the IPs for a load balancer. We can grant permission to call it to the IAM role the instances use.

We can also try a workaround like [this issue](https://github.com/terraform-providers/terraform-provider-aws/issues/3007)

[2018-07-11 01:23] ExcChua commented on #5
@john-osullivan If there is a guarantee that each LB DNS points to one machine (and there are no other machines that needs to be updated), then there's no problem.

[2018-07-12 06:49] nandakishorebhandari opened #27 "How to update consensus mechanisms to use RAFT or ISTANBUL"
What is default consensus mechanisms?
How to update consensus to use RAFT or ISTANBUL?

[2018-07-12 15:42] Lsquared13 commented on #27
Hi @nandakishorebhandari and thanks for your interest in our tool!

We use [QuorumChain consensus](https://github.com/jpmorganchase/quorum/wiki/QuorumChain-Consensus-%5BQuorum-v1.x-ONLY%5D) in this tool, as it is most relevant for our purposes. We don't currently have the resources to dedicate to making this tool compatible with RAFT or ISTANBUL, but I can point you at the changes I expect would b

[2018-07-12 16:18] john-osullivan commented on #5
Based on some further research that happened yesterday, I'm now swapping out the LB in this solution for an elastic IP address.

It turns out that none of the load balancer options support UDP, which is required for communication between nodes.  That's a hard blocker, and this [six year old issue](https://forums.aws.amazon.com/thread.jspa?threadID=82220) has a direct response from an Amazon rep sa

[2018-07-12 19:03] Lsquared13 opened #28 "Enable passwords for constellation keys"
# Problem

We need password protection on our constellation keys

The previous issue we had might have been due to machines being too small, so we should try again before we start troubleshooting.

[2018-07-17 16:12] john-osullivan opened #30 "Change terraform boolean variables to use "true" & "false""
This is a low-priority issue, just filing for documentation purposes.  Today's version of Terraform does inconsistent conversion for boolean variables when they are specified as actual booleans like so:

[code]

According [to the Terraform docs](https://www.terraform.io/docs/configuration/variables.html#booleans), when variables are specified within the `tfvars` file, that `false` gets converted t

[2018-07-17 18:29] john-osullivan commented on #5
This issue is being wrapped up now over in #29

[2018-07-18 15:36] Lsquared13 commented on #5
Merged in #29

[2018-07-18 15:36] #5 closed, assigned to john-osullivan

[2018-07-18 16:11] Lsquared13 opened #32 "Regionalize Backup Procedure"
# Problem

Currently, the S3 backup procedure implemented in [this script](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/instance-scripts/backup-chain-data.py) currently backs up the entire network to a single S3 bucket. This results in backups costing more money than they need to, since we pay for cross-region traffic. In particular, restoration will involve downloa

[2018-07-19 20:50] Lsquared13 commented on #20
These are finally all taken care of

[2018-07-19 20:50] #20 closed, assigned to Lsquared13

[2018-07-25 03:32] john-osullivan commented on #21
First draft of the fix on this is in!

[2018-07-25 06:09] john-osullivan commented on #32
**Update: This turned out to be much quicker than expected, been in a good flow and was able to just crank it out.  Let me know if this PR (#34 ) hits the specs you were looking for, @Lsquared13 .**

Addressing this over on the [regionalized-backups](https://github.com/john-osullivan/terraform-aws-quorum-cluster-johno/tree/regional-backups) branch of my personal repo.  Got the command line overwri

[2018-07-25 16:02] Lsquared13 commented on #32
Merged the PR

[2018-07-25 16:02] #32 closed, assigned to john-osullivan

[2018-07-26 15:05] #21 closed, assigned to john-osullivan

[2018-07-26 15:09] Lsquared13 commented on #24
Added tags for NetworkId, Region, Role, and RoleIndex

[2018-07-26 15:09] #24 closed, assigned to nobody

[2018-07-27 19:25] Lsquared13 commented on #28
Okay I just realized we need to do the vault thing we did for quorum in Issue #14 .

Assigning this to @john-osullivan to work the same magic as done on quorum

# Acceptance Criteria

- Constellation generates a random UUID as its password
- Constellation can fetch the password for its key from Vault when it starts running
- Constellation takes command line arguments to determine where to fetch th

[2018-07-31 02:06] ExcChua commented on #16
Trying to assign to myself...

[2018-07-31 06:07] ExcChua commented on #16
I need access to review this backup script. Where is it located?

[2018-07-31 16:14] Lsquared13 commented on #16
The backup script is here: [backup-chain-data.py](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/instance-scripts/backup-chain-data.py)

You invoke it with either `backup-chain-data.py backup` to do a backup or `backup-chain-data.py restore --block N` where `N` is the block number we would like to restore from. If a backup has not been created for that block number it

[2018-07-31 16:36] Lsquared13 commented on #9
Here is the [crashcloudwatch.py](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/instance-scripts/crashcloudwatch.py) script that detects when a supervisor process crashes and emits a metric.

Here is [an example](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/packer/instance-scripts/init-quorum.sh#L71) of running it as a supervisor event listene

[2018-08-02 05:35] john-osullivan commented on #28
Hey, so I was just talking shit with Juan (@eximchain137 ) and just discovered there's a Go version of Constellation named [crux](https://github.com/blk-io/crux), written by [blk.io](https://blk.io/) from London.  They wrote it because people were having a lot of trouble working with Haskell (I'm shocked).  Its interface is essentially the same, implementation is allegedly identical.  A rough skim

[2018-08-02 09:46] ExcChua commented on #16
From examining the script, it appears that the script is meant to be run locally on the target node, is this correct?

In order for this script to be automated and run for an entire region (based on my thoughts), it would need exclusive access to the S3 bucket designated as the backup, as well as access to the target node. It would also need to write the name of the node it backup, and the S3 back

[2018-08-02 14:22] Lsquared13 commented on #16
Yes, it is meant to be run locally on the target node. My thought was that the integration would come down to how and when it is invoked

"it would need exclusive access to the S3 bucket designated as the backup"

I'm a little confused as to what you're getting at here. The idea was for an entire region to share a backup bucket. Ideally, every so often, one node in each region does a backup, and t

[2018-08-02 14:39] ExcChua commented on #16
The exclusive access mechanism I was thinking is the same as your locking mechanism, in order to ensure that only one node accesses the S3 bucket exclusively.

Thanks for your ideas. I'll think about it and begin implementing this as soon as possible.

[2018-08-02 18:54] Lsquared13 commented on #16
Remember we will eventually want to be able to trigger this with cloudwatch alarms as well, so consider that in your design. For example, my second suggestion above gets that for free, while the first would require you to build it in, so if you go with that you should have a plan in place to build cloudwatch support.

[2018-08-03 10:05] ExcChua commented on #9
It appears that the crashcloudwatch.py script has an issue.
I SSH to ec2-18-237-141-141.us-west-2.compute.amazonaws.com and stopped quorum and constellation using sudo supervisorctl stop.

Then, I noticed that the date/time of both crashquorum-error.log and crashconstellation-error.log got updated to today.  Looking at the contents of the file, I can't tell if it got updated since there's no date/

[2018-08-03 15:57] Lsquared13 commented on #9
I would believe the script has an issue, but do we know the same thing that causes this is what's causing the sporadic metric in general?

We can always try fixing it and hoping it solves the problem. Ideally we'd only fire a metric when there's an actual crash, but a metric firing on a supervisor stop isn't quite as unexpected as a metric firing randomly.

Keep me posted on anything else you find

[2018-08-06 03:06] ExcChua commented on #9
Based on my numerous tests on ec2-184-72-77-190.compute-1.amazonaws.com today, sudo supervisorctl stop quorum is guaranteed to cause crashquorum-error and crashconstellation-error to get updated with an error.

However, stopping constellation doesn't cause crashconstellation-error to get updated.

[2018-08-07 12:30] ExcChua commented on #9
@Lsquared13 When quorum is stopped by supervisor, it stops with a status of 2.
However, Supervisor expects a status of 0.

See below for log lines:
2018-08-07 09:07:09,455 INFO stopped: quorum (exit status 2)
2018-08-07 09:07:14,577 INFO spawned: 'quorum' with pid 12433
2018-08-07 09:07:15,656 INFO success: quorum entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)
2018-0

[2018-08-09 21:08] Lsquared13 commented on #10
Figured out root cause. A bit of refactoring will fix

[2018-08-09 21:11] Lsquared13 commented on #25
Sev 1s and 2s are completely reasonable at this point

[2018-08-09 21:11] #25 closed, assigned to Lsquared13

[2018-08-13 15:17] Lsquared13 opened #38 "Mechanism to provide more detail when alarms trigger"
# Problem

Currently, if we get an alarm notifying us of something like a crashed quorum process, we have no way to tell basic details like what instance it came from

# Solution

We need a mechanism that can give us additional information about such things. Our initial goal should be getting the Instance ID, Public DNS, and Region when we get a metric for process crashes, but the design should be

[2018-08-14 15:00] #10 closed, assigned to Lsquared13

[2018-08-14 19:07] Lsquared13 opened #39 "ftp.gnu.org is broken"
Today the FTP commands in the script stopped working.  Need to fix this, it's breaking packer builds.

[2018-08-14 19:09] Lsquared13 commented on #39
Looks like it's affecting the git-update too.

Looking like an issue with `ftp.gnu.org`

[2018-08-14 20:03] Lsquared13 opened #40 "Tighten security group parameters on vault"
Ideally we have the following

- Vault can only take requests through the load balancer
- Consul can only be reached by vault (or SSHed by engineer through VPN)
- The Vault load balancer only takes requests from our own instances (This is the tricky part, making it work cross region in particular)

[2018-08-14 20:57] Lsquared13 opened #41 "Integrate FoxPass SSH Key Management"
We'll want to integrate with the FoxPass key management so that we can manage SSH access through that.

[2018-08-15 04:45] ExcChua commented on #13
Implemented as [SoftwareUpgrade](https://github.com/Eximchain/SoftwareUpgrade).

[2018-08-15 05:03] ExcChua commented on #13
I can't seem to close this issue.

[2018-08-15 16:03] #39 closed, assigned to Lsquared13

[2018-08-15 16:17] #13 closed, assigned to ExcChua

[2018-08-15 21:07] Lsquared13 opened #42 "Fix vim vulnerabilities"
We have new High Severity vulnerabilities popping up on Threatstack due to vim now. Ideally we can patch it.

- https://nvd.nist.gov/vuln/detail/CVE-2017-6349
- https://nvd.nist.gov/vuln/detail/CVE-2017-6350
- https://nvd.nist.gov/vuln/detail/CVE-2017-5953

[2018-08-15 22:15] #41 closed, assigned to Lsquared13

[2018-08-16 15:42] Lsquared13 opened #44 "Look into scoping credentials"
Heard about it on Threatstack webinar. We should make sure our credentials are scoped to the tightest restrictions possible. May be able to force having certain IPs etc.

[2018-08-17 13:31] #9 closed, assigned to ExcChua

[2018-08-17 15:51] #42 closed, assigned to nobody

[2018-08-21 14:19] Lsquared13 opened #45 "Set up emergency access for vault via Okta"
We should have a way to get master access to the secrets in our vault in a pinch. We'll probably want to set up peering connections between our VPN VPC and our vault. We may need to change the VPN CIDR. We must be able to handle the VPN and vault in different accounts (No auto-accept peering connection)

[2018-08-21 14:21] #40 closed, assigned to nobody

[2018-08-21 16:28] Lsquared13 commented on #4
Wonder if we can KMS decrypt the key in memory and never write to disk. Probably need vault support

[2018-08-21 18:31] Lsquared13 opened #46 "Build out basic alarms"
We need basic alarms to monitor the network. We already have a lot of metrics but we need alarms on the important ones.

May need to create new metrics for some.

[2018-08-21 19:04] Lsquared13 commented on #28
May eventually want to move to CRUX for individual nodes.

We probably just want to disable constellation for mainnet launch

[2018-08-21 19:06] Lsquared13 opened #47 "Disable Constellation on Mainnet"
We don't need to run constellation on our main network nodes since they will never send or receive private transactions. We should disable it to reduce the number of things that could go wrong.

[2018-08-22 21:36] #4 closed, assigned to Lsquared13

[2018-08-31 20:36] Lsquared13 opened #49 "Add Elastic IPs to Observers (Optionally)"
Since we plan on having users connect through observer nodes, they should optionally have Elastic IPs associated with them, similarly to what we did for bootnodes.

[2018-08-31 20:38] Lsquared13 opened #50 "Mechanism to remove a single node"
We need a mechanism to remove a single node of any index, and keep the rest of the system running. This may involve manually moving things around in vault.

[2018-09-10 18:42] Lsquared13 commented on #50
Here's what I'm thinking for this:

Let `x` be the node that needs to be removed and `n` be the final node currently in that region and role (The node with the largest role index).

1. Stop quorum on both nodes `x` and `n` with `sudo supervisorctl stop quorum`.
2. Use Okta-based root vault access to replace vault information for node `x` with the information for node `n`. Remove information from i

[2018-09-10 18:44] Lsquared13 commented on #50
Assuming we go with that strategy, the action items are to write a script for part 2 and write this process into a runbook.

[2018-09-11 15:08] #50 closed, assigned to Lsquared13

[2018-09-11 15:40] Lsquared13 commented on #46
For each of these alarms (and any others we come up with), we'll need to define terms like "Large number" and "prolonged period" and define these as CloudWatch metrics.

Some alarms we probably want:

- Large number of quorum process crashes
- Large number of node crashes
- Memory usage approaching instance memory limit for a prolonged period
- Storage space running low
- Blocks no longer being mi

[2018-09-12 20:50] #45 closed, assigned to Lsquared13

[2018-09-19 15:26] john-osullivan commented on #49
For the sake of finding things more easily later, here's the PR where I did this same work for bootnodes: https://github.com/Eximchain/terraform-aws-quorum-cluster/pull/29/files

Essentially, I need to:
1) Add a setting at the top level
2) Propagate it down through the regions
3) Modify the init script to run `ec2 associate-address` with the appropriate EIP on startup

[2018-09-19 22:10] Lsquared13 commented on #46
We have a PagerDuty trial. We can integrate the alarms with it. the process is something like:

1. Configure the alarm to emit an SNS notification to an SNS queue
2. Set up the queue with a subscription to send HTTPS notifications to `https://events.pagerduty.com/integration/2efe5fb088d3486e8189ec16415f457c/enqueue`

[2018-09-24 16:28] Lsquared13 commented on #46
"Storage Space running low" and "Blocks no longer being mined" need new metrics

[2018-09-24 19:57] #49 closed, assigned to john-osullivan

[2018-09-25 23:55] #46 closed, assigned to Lsquared13

[2018-10-11 19:47] Lsquared13 commented on #47
One thing I realized is that our constellation nodes were doubling as constellation bootnodes for the network. We might want to keep constellation on at least observers as long as our independent nodes still use constellation.

[2018-10-15 13:56] Lsquared13 commented on #38
Our Cloudwatch alarms can be found [here](https://github.com/Eximchain/terraform-aws-quorum-cluster/blob/master/terraform/modules/quorum-cluster/alarms.tf)

[2018-10-15 14:28] Lsquared13 commented on #38
@EximChua this is probably the best thing to start working on next when you have bandwidth

[2018-10-16 14:06] #23 closed, assigned to nobody

[2018-10-16 19:08] Lsquared13 commented on #22
We're planning on integrating with EFS to give us elastic storage that can be shared across a region.

We hear there's a trick to it and we believe it requires High Throughput mode. Will need to look more into this when we start implementing.

[2018-10-17 07:42] ExcChua commented on #16
With the -mode=aws extension created for the CreateConfig portion of SoftwareUpgrade, the restoration process is now a matter of the following:

1. running CreateConfig -mode=aws with the proper filter to extract a certain NetworkId's instances into a json output file.

1. running CreateConfig -mode=cli with a template file, and the input json from the above -mode=aws output, causing a list of IP

[2018-10-17 10:44] ExcChua commented on #38
In order to evaluate and devise a solution for this, I need access to the actual Cloudwatch logs to see what data can be extracted, or a sample of a Cloudwatch log for the alarm.

Please provide this access or a sample log.

[2018-10-17 13:45] Lsquared13 commented on #38
I think they may need to be enabled and thus they may not exist yet. I would suggest making changes to a local copy of this repo to enable them and inducing things like crashed processes.

It's also very possible CloudWatch Logs aren't the best way to do this.

The basic things I think we'd like info on to start is identification for instances that cause crashed process alarms, low disk space alar

[2018-10-17 14:08] Lsquared13 commented on #16
Yes, backup and restore is only run on quorum nodes. We may end up needing to build backup into our single node as well.

We'll probably be deciding to restore an entire chain at once in an emergency, for example if the chain stops. It will be a manual decision.

The backup on the other hand will be partially automated.

[2018-10-30 19:53] Lsquared13 commented on #22
We need to worry about what regions EFS is in.  Good news is they expanded a LOT since I was there. Bad news is they're not quite everywhere.

EFS is **NOT** available in the following regions:

- `ap-south-1`
- `ca-central-1`
- `eu-west-2`
- `sa-east-1`

I also haven't confirmed that High Throughput is available in all those regions yet. I think it will be but I can't say I'm sure.

We need to de

[2018-11-28 21:07] Lsquared13 commented on #38
I wonder if [this](https://github.com/gruntwork-io/module-aws-monitoring-public) would be useful.  @eximchain137 pointed me at [gruntwork.io](https://gruntwork.io/). Just starting to look into it but let us know if you have opinions.

[2018-12-12 17:11] Lsquared13 opened #58 "Investigate instance type mismatch"
<img width="1139" alt="screen shot 2018-12-12 at 12 09 33 pm" src="https://user-images.githubusercontent.com/4107447/49886179-f8aac480-fe06-11e8-8874-f2cbac551c3b.png">

But the variables use `g2.2xlarge` instances for makers, not observers.

Need to investigate why this is an issue

[2018-12-13 14:36] #16 closed, assigned to ExcChua

[2018-12-13 15:34] #58 closed, assigned to Lsquared13

[2018-12-21 03:24] ExcChua commented on #38
@Lsquared13 It's difficult to say whether [gruntwork.io](https://gruntwork.io/) would work or not, because there's insufficient details from its Github site, and from its website.

All its public sources contains ONLY 4 lines of boilerplate comments which says one must be a customer in order to see the private repo.

[2018-12-21 04:57] Lsquared13 commented on #38
Okay, don't get hung up on it. It's just a thing @eximchain137 stumbled across, feel free to ignore that if you don't think it's worth the time.  If you'd like to investigate it further we can look into getting some sort of a trial or even signing up for a bit. Your call here, I don't have a strong opinion on that either way.

[2018-12-21 05:40] ExcChua commented on #38
Not sure if it's not worth the time if I can't see what it's doing. So, can you get me access please?

[2018-12-21 05:51] Lsquared13 commented on #38
I need to discuss it, after giving it another look it doesn't seem like they have a free trial option or even a subscription without a commitment. I'll get back to you on this but in the meantime don't count on it. I'd hate to blow a year's subscription on something we don't end up really using.

[2018-12-21 10:19] ExcChua commented on #38
Hi Louis,

This is no longer necessary.

My preliminary solution for the details  for the alarms trigger is working
now.

Thanks!

On Fri, Dec 21, 2018, 1:51 PM Louis Lamia <notifications@github.com wrote:

[2019-01-22 15:30] #22 closed, assigned to Lsquared13

[2019-04-03 16:49] Lsquared13 opened #72 "Keep EBS volumes during deployment"
Currently, we have our nodes redownload the block history from other nodes when deploying them. We could figure out how to detach and reattach the EBS volumes instead, so we don't need to do that